<%- include("partials/header"); -%>


  <h1 class="page-header "><%=title%></h1>
  <p class="content"><%-content%></p> 
  <h3 class="author"><%-author%></p>
      <h5 class="username"><%-authorUsername%></h5>
    <h6 class="time"><%=time%></h6>

<%- include("partials/footer"); -%>
